.footer{
    background: #212529;
    color: white;
    padding: 15px;
    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

.copy{
    margin: auto;
    line-height: 20px;
}